<h3><%= link_to "Your Profile", user_path(@user) %></h3>
<h3>Top Streak Holders:</h3>
<h3>New Identities:</h3>
<h3></h3>

<div>
<h3>Join a PACT:</h3>
<%= form_with model: @identity, url: join_path do |form| %>
    <%= form.collection_select :identity_id, Identity.all, :id, :pact_name, {:prompt => 'Select Identity'} %>
<%= form.submit "Join Pact" %>
<% end %>
</div>

