<h3>My PACTS: </h3>
<% @user.identities.each do |identity| %>
    <%= render 'identity', identity: identity %>
<% end %>
  <%= link_to "Add Identity", new_identity_path%>

<h3>My Habits: </h3>

<% @user.habits.each do |habit| %>
    <%= render 'habit', habit: habit %>
<% end %>
  <%= link_to "Add Habit", new_habit_path%>