    <p>
         <div>
         <p> PACT Name: <%= link_to identity.pact_name, identity_users_path(identity) %> - IDentity: <%= link_to identity.description, identity_path(identity)%></p>
        </div>
    </p>

