<h3>IDentities</h3>
<%= link_to "Add Identity", new_identity_path %>
<div>
    <% @identities.each do |identity| %>
 <%= render "identity", identity: identity %>
 <%= render partial: "user_identities/form", locals: {identity: identity} %>
<% end %>
</div>


