

<% if habit.build == true %>
<h3>I will <%= habit.title %></h3> 
<% end %>

<% if habit.build == false %>
<h3>I will NOT <%= habit.title %></h3>
<% end %>
<h4><%= habit.frequency_number %>x per <%= habit.frequency %></h4>
