

<h4><% if habit.build == true %>
I WILL <%= link_to habit.title, habit_path(habit)%>
<% end %>

<% if habit.build == false %>
I WILL NOT <%= link_to habit.title, habit_path(habit) %>
<% end %>
<%= habit.frequency_number %> time(s) per <%= habit.frequency %></h4>
